body {
    font-family: 'Roboto', sans-serif;
}
.upside {
    background-color: #2F303A;
    color: white;
    font-weight: bold;
    font-size: 30px;
}
.team {
    background-color: #F5F4FA;
}
.footer {
    background-color: #2F303A;
    color: white
}
.container {
    width: 1600px;
    margin: 0 auto;
    padding: 0 15px;
}